@font-face {
    font-family: "MuseoSlab500";
    src: url("MuseoSlab500.ttf");
}

@font-face {
    font-family: "MuseoSlab700";
    src: url("MuseoSlab700.ttf");
}

h1 {
    font-family: "MuseoSlab700";
    font-size: 62px;
    line-height: 16px;
}

h2 {
    font-family: "MuseoSlab500";
    font-size: 36px;
}

h3 {
    font-family: "MuseoSlab500";
    font-size: 14px;
    line-height: 7px;
}

table {
    cursor: pointer;
    color: white;
    background: black;
    font-family: "MuseoSlab500";
    height: 30px;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

#inputs {
    position: absolute;
    margin-top: 100px;
}

#main {
    margin-left: 25px;
    margin-top: 15px;
}

#ui-block {
    min-width: 300px;
}

#optron-img {
    float: right;
    max-width: 100%;
    margin-right: 5%;
}

#optron-pic {
    width: 600px;
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
